footer {
    background-image: url('../../images/small_images/footerBg.png');
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    padding: 1rem 0;
}
@media screen and (max-width: 800px) {
    footer  {
        font-size: 14px;
    }
}
@media screen and (max-width: 600px) {
    footer {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}
.country > h1 {
    color: #ccc;
    font-size: 23px;
    font-weight: 700;
}
.country:first-of-type > h1 {
    text-align: center;
}
footer .country:not(:first-of-type) {
    margin-left: 1rem;
}
@media screen and (max-width: 600px) {

    footer .country:not(:first-of-type) {
        margin-left: 2rem;
    }
}
@media screen and (max-width: 800px) {
    .country:last-of-type {
        /* margin-left: 1rem; */
    }
}
.branches {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4rem;
    padding: 0 2rem;
}
@media screen and (max-width: 800px) {
    .branches {
        gap: 1rem;
        /* padding: 0 1rem; */
    }
}
@media screen and (max-width: 600px) {
    .branches {
        display: flex;
        flex-direction: column;
    }
}
.country:first-of-type .contact {
    padding-left: 2rem;
}
.contact {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-top: 5rem;
}

@media screen and (max-width: 600px) {
    .contact {
        display: flex;
        flex-direction: column;
    }
}
.state {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.state > h1 {
    font-size: 15px;
    font-weight: 600;
    color: #ccc;
}
.state span {
    font-size: .8rem;
    color: #aaa;
}
@media screen and (max-width: 800px) {
    .state span {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) {
    .state span {
        display: flex;
        flex-direction: row;
    }
}
.state span a {
    color: #ccc;
    text-decoration: none;
    padding-left: .3rem;
}
@media screen and (max-width: 800px) {
    .state span a {
        padding-left: 0;
    }
}