.contact_us_wrapper {
    background: #fff;
    display: flex;
    flex-direction: column;
}
.tab {
    background: #EA8623;
    font-size: 1rem;
    font-weight: 500;
    padding: 2rem;
}
.row {
    display: flex;
    flex-direction: row;
}
.color_line {
    background: #000;
    height: .3rem;
    width: 100%;
    margin: 2rem 0;
}
.orange {
    background: #EA8623;
    height: 100%;
    width: 20%;
}
.container {
    flex: .7;
    padding-left: 2rem;
    font-size: 14px;
    color: rgb(31, 31, 31);
}
.container h1 {
    font-size: 25px;
    font-weight: 400;
    color: #777;
    padding-bottom: 2rem;
    border-bottom: 1px solid #aaa;
}
.contact_form_container {
    margin: 5rem 0;
}
.contact_form_container .input_container input, .contact_form_container .input_container textarea {
    border: 1px dotted;
    border-left: 4px solid #EA8623;
    outline: none;
    padding: .3rem;
    font-size: 14px;
}
.contact_form_container form .input_container  {
    width: 100%;
}
.contact_info {
    flex: .3;
}
aside {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #000;
    margin-bottom: 2rem;
}
@media screen and (max-width: 600px) {
    .contact_us_wrapper aside {
        padding-left: 2.5rem;
    }
}
/* aside .country:nth-of-type(2) {
    padding-left: 2rem;
} */
.contact_us_wrapper aside .country .branches {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}
aside .country .branches .state > h1,  aside .country .contact .state > h1 {
    color: #555;
}
aside .country:first-of-type > h1 {
    text-align: left;
    /* padding-left: 2rem; */
}
aside .country h1 {
    color: #555;
    text-align: left;
}
.contact_us_wrapper aside .country .contact {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0;
}
.contact_us_wrapper aside .state span a {
    color: rgba(32, 32, 32, 0.907);
}